# Importing important libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report,accuracy_score

In [3]:
import sklearn
import scipy

# For OutLiears Detection

In [4]:
from sklearn.svm import OneClassSVM

In [5]:
from sklearn.ensemble import IsolationForest

# Load Dataset

In [6]:
df = pd.read_csv("D:\dl\creditcard1.csv")

In [7]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

# Checking Null Value

In [8]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

# Number of Normal and Fraud case

In [9]:
fraud_people = df[df['Class']==1]
normal_people = df[df['Class']==0]

In [10]:
fraud_people.shape

(38, 31)

In [11]:
normal_people.shape

(10055, 31)

# Depending and Independing Features

In [12]:
columns = df.columns.tolist()
# Making our Independent Features
columns = [var for var in columns if var not in ["Class"]]
# Making our Dependent Variable
target = "Class"
x= df[columns]
y= df[target]

# Build the Model

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=42)

# SVM

In [14]:
svm= OneClassSVM(kernel='rbf', degree=3, gamma=0.1,nu=0.05)

# Train the Model

In [15]:
svm.fit(x_train,y_train)

OneClassSVM(gamma=0.1, nu=0.05)

# Predicting

In [16]:
ypred1= svm.predict(x_test)

# To find Accuracy Score

In [18]:
print(accuracy_score(y_test,ypred1))

0.0

# To visualize through Confusion Matrix

In [19]:
from sklearn.metrics import confusion_matrix

In [21]:
confusion_matrix(y_test, ypred1)

array([[   0,    0,    0],
       [2948,    0,   70],
       [  10,    0,    0]], dtype=int64)